<section>
    <h6>Article Tags</h6>
    {{#get "tags" limit="all"}}
        {{#foreach tags}}
            <a href="{{url}}" class="tag-button" title="{{name}}" >
                <i class="mdi mdi-tag"></i>  {{name}}
            </a>
        {{/foreach}}
    {{/get}}
</section>
